{{ if eq .Status "firing"}}🔥 <b>{{ .Status | str_UpperCase }}</b> 🔥{{ else }}<b>{{ .Status | str_UpperCase  }}</b>{{ end }}
{{- range $key,$val := .GroupLabels }}
{{ if eq $key "alertname" }}<b>{{$val}}</b>{{ end -}}
{{ if eq $key "instance" }}<b>Instance:</b> {{$val}}{{ end -}}
{{ end -}}
{{- range $val := .Alerts }}
{{ $severity := index $val.Labels "severity" -}}
<b>Severity:</b> {{$severity}}
{{ range $key, $value := $val.Annotations }}
<b>{{$key}}:</b> {{$value}}
{{- end }}
<b>Active from:</b> {{ $val.StartsAt | str_FormatDate }}
{{- if ne $val.EndsAt "0001-01-01T00:00:00Z" }}
{{- $start := $val.StartsAt }}
{{- $end := $val.EndsAt }}
<b>Duration:</b> {{ duration $start $end }} {{ end }}
{{- end -}}
